@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin-top: 10px;
	height: 100vh;
	font-family: "IBM Plex Sans KR", serif;
	font-weight: 450;
	font-style: normal;
}

/*회전목마 구간*/
div.slideShow {
	background-color: white;
	height: 340px;
	/* width: 100%; */
	min-width: 960px;
	/* 최상위 부모니까 absolute를 위해 relative 적용! */
	position: relative;
	/* overflow: hidden; */
}

img {
	width: 1000px;
	height: 340px;
	border-radius: 5px;
}

div.slideShow_slides {
	position: absolute;
	/* 부모의 몇%를 차지하는가? */
	width: 100%; /*부모것 다 차지하겠다. 960px*/
	height: 100%; /*부모것 다 차지하겠다. 960px*/
}

div.slideShow_slides a {
	/* absolute해버리면 원래 block이 됨. 다 겹쳐졌는데, 옆배치를 해야하니 display inline block으로. */
	position: absolute;
	/* 부모의 몇%를 차지하는가? */
	width: 100%; /*부모것 다 차지하겠다. 960px*/
	height: 100%; /*부모것 다 차지하겠다. 960px*/
	display: inline-block;
	text-align: center;
}

div.slideShow_nav a {
	position: absolute;
	left: 50%;
	top: 50%;
	/* color: rgba(255, 255, 255, 0.877); */
	color: #333333;
	font-size: 62px;
	transform: translateY(-50%);
	/* opacity: 0.5; */
}

div.slideShow_nav a.pre {
	margin-left: -600px;
}

div.slideShow_nav a.next {
	margin-left: 575px;
}

div.slideShow_indicator {
	position: absolute;
	/* 부모의 bottom */
	bottom: -40px;
	text-align: center;
	left: 0;
	right: 0;
	text-align: center;
}

div.slideShow_indicator a {
	display: inline-block;
	color: #c1c1c1;
	padding: 7px;
	font-size: 15px;
}

div.slideShow_indicator a.active {
	color: #3f3fff;
}